<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
</head>
<body style="margin: 0; padding: 0;background-image: radial-gradient(#0c5460,#e0e0e0);">

<div style="min-height:75vh;padding: 15px 50px 15px 50px">

  <div class="bodyAll">

    <table id="customerService" class="tableTitle">
      <tr>
        <th style="width: 60%"><h1 class="titles">MEDICAL LIST</h1></th>
        <th>
          <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group me-2" role="group" aria-label="First group">
              <button  style="background-color: white;color: black; border-radius: 5px; height: 40px">&#10010;
                <a class="navbar-brand" routerLink="/component/create">New Customer</a>
              </button>
            </div>
            <!--                <input style="height:40px;border-radius:5px;" placeholder="Enter the blog's name" type="text" [(ngModel)]="inputSearch" (keydown.enter)="search()">-->
            <form (ngSubmit)="search()" [formGroup]="formSearch">
              <div class="btn-group me-2" role="group" aria-label="First group">
                <input class="form-control" style="height:40px;border-radius:5px;" type="text" formControlName="nameS">
              </div>
              <div class="btn-group me-2" role="group" aria-label="Second group">
                <select class="form-select form-control" formControlName="type">
                  <option value="">Choose</option>
                  <option *ngFor="let customerType of cardList" [ngValue]="customerType">{{ customerType.name }}</option>
                </select>
              </div>
              <div class="btn-group me-2" role="group" aria-label="Third group">
                <button style="background-color: white;color: black; border-radius: 5px; height: 40px;" type="submit">&#9906; Search</button>
              </div>
            </form>

          </div>
        </th>
      </tr>
    </table>

    <table id="tableCustomer" class="table table-bordered table-striped" style="width: 100%">
      <thead class="table-dark">
      <tr>
        <th class="header"><p style="text-align: center">#</p></th>
        <th class="header"><p style="text-align: center">MEDICAL CODE</p></th>
        <th class="header"><p style="text-align: center">PEOPLE CODE</p></th>
        <th class="header"><p style="text-align: center">NAME</p></th>
        <th class="header"><p style="text-align: center">DAY START</p></th>
        <th class="header"><p style="text-align: center">DAY END</p></th>
        <th class="header"><p style="text-align: center">REASON</p></th>
        <th class="header"><p style="text-align: center">RESOLVE</p></th>
        <th class="header"><p style="text-align: center">DOCTOR</p></th>
        <th class="header"><p style="text-align: center">EDIT</p></th>
        <th class="header"><p style="text-align: center">DELETE</p></th>
      </tr>
      </thead>
      <tbody id="display">
      <tr *ngFor="let people of peopleList | paginate: { itemsPerPage: 5, currentPage: p }">
        <td>{{ people.id }}</td>
        <td>{{ people.cardMedical.name }}</td>
        <td>{{ people.code }}</td>
        <td>{{ people.name }}</td>
        <td>{{ people.dayStart }}</td>
        <td>{{ people.dayEnd }}</td>
        <td>{{ people.reason }}</td>
        <td>{{ people.resovers }}</td>
        <td>{{ people.doctor }}</td>
        <td>
          <button class="btn btn-primary " style="background-color: #046056">
            <a style="color: white;text-decoration: none" [routerLink]="['/component/edit',people.id]">Edit</a>
          </button>
        </td>
        <td><button class="btn btn-danger" (click)="openPopup(people.cardMedical.name, people.name, people.id)">Delete</button></td>
      </tr>
      </tbody>
    </table>
    <pagination-controls class="my-pagination" (pageChange)="p = $event"></pagination-controls>
  </div>



  <!--MODAL DELETE-->

  <div class="modal" id="delete" [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title w-100 text-left" style="color: red"><i class="fa-solid fa-triangle-exclamation"></i>  Warning !</h4>
          <button type="button" (click)="closePopup()" class="redButton" style="height: 30px;width: 30px" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Delete a Medical Card have information:</p>
          <p>Medical Card ID : <span style="color: red"><b>{{ idPeople }}</b></span></p>
          <p>People Name : <span style="color: red"><b>{{ namePeople }}</b></span></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark " (click)="closePopup()" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-danger"><a style="color: white;text-decoration: none" (click)="callService()">Delete</a></button>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>

