<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body style="height: 75vh">
<div class="row" style="width: 100vw">
  <div class="col-4" style="height: 300px">
    <p style="line-height: 300px;font-size: 300px;text-align: right;font-family: 'Arial Black', serif"><b>4</b></p>
  </div>
  <div class="col-4" style="height: 300px;padding: 20px">
      <div class="loading" style="padding-left: 80px;padding-right: 80px">
        <div style="--x:0"></div>
        <div style="--x:1"></div>
        <div style="--x:2"></div>
        <div style="--x:3"></div>
        <div style="--x:4"></div>
        <div style="--x:5"></div>
      </div>
  </div>
  <div class="col-4" style="height: 300px">
    <p style="line-height: 300px;font-size: 300px;text-align: left;font-family: 'Arial Black', serif"><b>4</b></p>
  </div>
</div>

</body>
</html>
